{%extends 'base.html'%}
{%block title%}
login
 {%endblock title%}

{%block body%}
<div class="container">
  <div class="row"> 
      <div class=""> 
          <h1>Login</h1>
          <form method="POST" action={% url 'login'%}>
              {% csrf_token %}
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" placeholder="enter your username">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" placeholder="enter your password">
              </div>
              
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
  
      </div>
  
  </div>
{%endblock body%}